<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Сторінку не знайдено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="surface">
                    <h1>Сторінку не знайдено</h1>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
